.content {
  height: calc(100% - 48px);
  padding: 0 30px 0 20px;
  background-color: #f4f5f8;
}
.content .title {
  display: flex;
  padding-top: 22px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.title-left .title-heading {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
.title .title-right {
  display: flex;
}
.title-right .button-utilities {
  display: flex;
  align-items: center;
  border-radius: 30px;
  color: #111;
  border: 1px solid #8d9096;
  padding: 0 16px;
  height: 36px;
  cursor: pointer;
  box-sizing: border-box;
}
.button-utilities .utilities-text {
  padding-right: 4px;
  font-family: NotoSans-Bold;
}
.button-utilities .utilities-icon {
  background-position: -560px -359px;
}
.title-right .button-add {
  display: flex;
  align-items: center;
  background-color: #2ca01c;
  align-items: center;
  border-radius: 4px;
  color: white;
  height: 36px;
  position: relative;
  margin-left: 12px;
}
.button-add .add-text {
  padding: 8px 14px 8px 20px;
  font-family: NotoSans-Bold;
  cursor: pointer;
}
.button-add .add-line {
  left: 71px;
  height: 20px;
  top: 7px;
  position: absolute;
  border: 1px solid transparent;
  border-left-color: #fff;
}
.button-add .add-icon {
  padding: 8px 10px;
  background-position: -838px -351px;
}
.title-bottom {
  display: flex;
  padding-bottom: 16px;
}
.title-bottom .bottom-icon {
  background-position: -224px -358px;
}
.title-bottom .bottom-text {
  color: #0075c0;
}
.ic-max-16 {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}
/*
*/
.main-content {
  background-color: white;
}
.main-content .header-list {
  height: 36px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: #eceef1;
}
.header-left .more-button {
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  border-radius: 30px;
  color: #afafaf;
  padding: 0 16px !important;
  border: 2px solid #b1b2b3;
  align-items: center;
  display: flex;
}
.more-button .more-button-icon {
  background-position: -560px -359px;
}
.more-button .more-button-text {
  padding-right: 4px;
  font-family: NotoSans-Bold;
}
/*

*/
.filter-employee-input {
  margin: 0 !important;
}
input.filter-employee-input-label {
  width: 240px !important;
}
input.filter-input-label::placeholder {
  font-family: NotoSans-Italic;
  font-size: 12px;
  color: #8d9096;
}
input.filter-input-label:hover {
  border: 1px solid #8d9096;
}
input.filter-employee-input-label:focus {
  border: 1px solid #2ca01c;
}
.filter-input .filter-input-icon {
  background-position: -992px -360px;
  cursor: pointer;
}
/*
*/
.header-right .button-refresh {
  background-position: -423px -201px;
  margin: 0 6px;
}
.header-right .button-refresh:hover {
  background-position: -1096px -88px;
}
.header-right .button-excel {
  background-position: -704px -200px;
  margin: 0 6px;
}
.header-right .button-excel:hover {
  background-position: -704px -256px;
}
.header-right .button-setting {
  background-position: -88px -200px;
  margin: 0;
}
.header-right .button-setting:hover {
  background-position: -88px -256px;
}
/*---------------------*/
.t-table {
  min-width: max-content;
  padding: 0 10px;
  height: 36px;
}
.list {
  overflow: auto;
  height: calc(100vh - 225px);
}
td {
  border: 1px solid #afafaf;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table tbody tr {
  height: 35px;
  font-weight: 300;
}
table thead th {
  position: sticky;
  top: -1px;
  background-color: #eceef1;
  /* max-height: 30px; */
  font-size: 12px;
  border: 1px solid #afafaf;
  background-origin: padding-box;
  z-index: 1;
  border-top: 0;
  border-bottom: 0;
}
.tbheader {
  width: 100%;
  height: 100%;
  border-top: 0;
}
.edit-icon {
  background-position: -884px -359px;
  flex: 1;
}
.edit-text {
  width: 20px;
  height: 20px;
  color: #0075c0;
  cursor: pointer;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.wrap-edit-icon {
  display: flex;
  align-items: center;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.check-box {
  border-left: 0;
}

.min-width-150 {
  min-width: 150px;
}
.min-width-250 {
  min-width: 150px;
}
.min-width-200 {
  min-width: 150px;
}
/*-------------------*/

.footer-list {
  position: absolute;
  height: 45px;
  background-color: #ffffff;
  width: calc(100% - 238px);
  bottom: 0px;
  display: flex;
  border-top: 1px solid #c0c0c0;
  justify-content: space-between;
}
.right-footer {
  display: flex;
}
.left-footer {
  margin-top: auto;
  margin-bottom: auto;
}
.right-footer {
  margin-top: auto;
  margin-bottom: auto;
}
.direc-page {
  width: 40px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin: 0 4px;
}
.nb-page {
  vertical-align: middle;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid #8d9096;
  cursor: pointer;
  margin: 0 2px;
}
